aiohappyeyeballs  
aiohttp  
aiosignal  
altair  
annotated-types  
anyio  
attrs  
blinker  
cachetools  
certifi  
charset-normalizer  
click  
colorama  
coloredlogs  
dataclasses-json  
distro  
docarray  
duckduckgo_search  
fastembed  
filelock  
flatbuffers  
frozenlist  
fsspec  
gitdb  
GitPython  
greenlet  
groq  
h11  
httpcore  
httpx  
huggingface-hub  
humanfriendly  
idna  
Jinja2  
joblib  
jsonpatch  
jsonpointer  
jsonschema  
jsonschema-specifications  
langchain  
langchain-community  
langchain-core  
langchain-groq  
langchain-text-splitters  
langsmith  
loguru  
markdown-it-py  
MarkupSafe  
marshmallow  
mdurl  
mmh3  
mpmath  
multidict  
mypy-extensions  
narwhals  
networkx  
numpy  
onnx  
onnxruntime  
orjson  
packaging  
pandas  
pillow  
primp  
protobuf  
pyarrow  
pydantic  
pydantic-settings  
pydantic_core  
pydeck  
Pygments  
pypdf  
pyreadline3  
PyStemmer  
python-dateutil  
python-dotenv  
pytz  
PyYAML  
referencing  
regex  
requests  
rich  
rpds-py  
safetensors  
scikit-learn  
scipy  
sentence-transformers  
setuptools  
six  
smmap  
sniffio  
snowballstemmer  
SQLAlchemy  
streamlit  
sympy  
tenacity  
threadpoolctl  
tokenizers  
toml  
torch  
tornado  
tqdm  
transformers  
types-requests  
typing-inspect  
typing_extensions  
tzdata  
urllib3  
validators  
watchdog  
win32-setctime  
yarl  
